<h2>Settings</h2>
<br>
<form [formGroup] = "apiForm">
    <div class="form-group">
      <label for="exampleFormControlInput1">API Key</label>
      <input type="text" formControlName = "apiKey" class="form-control" id="exampleFormControlInput1" placeholder="API from newsapi.org">
    </div>

    <button type="button" class="btn btn-primary">Back</button>
    <button type="button" class="btn btn-secondary">Delete</button>
    <button type="button" class="btn btn-success float-right" [disabled] = "apiForm.invalid" (click) = addApi()>Add</button>

</form>